@import 'vars';
@import 'global';
@import 'fonts';

//start header top
.header {
    &__top-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 122px;
        @include SF-Bold;
    }
    &__box {
        display: flex;
    }
    &__adress {
        margin-right: 60px;
        width: 265px;
        padding-left: 30px;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            background-image: url('../images/adress-icon.svg');
            width: 30px;
            height: 30px;
            left: 0;
            top: -10px;
        }
    }

}

.menu__item {
    display: inline-block;
    & + & {
        padding-left: 50px;
    }
}

.user-list {
    margin-right: 15px;
    display: flex;
    align-items: center;
    &__item {
        padding-right: 10px;
    }
}



.basket {
    position: relative;
    &__num {
        position: absolute;
        font-size: 10px;
        line-height: 20px;
        width: 20px;
        height: 20px;
        @include SF-Medium;
        color: #fff;
        background-color: #1c62cd;
        border-radius: 50%;
        text-align: center;
        bottom: -15px;
        right: -14px;
    }
}

//end header top

//start header bottom
.header__bottom {
    margin-bottom: 80px;
}
.menu__categories {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 53px;
    background: #F0F0F4;
    &-link {
        position: relative;
        transition: all 1s;
        padding: 15px 0 14px;
        &::before {
            content: "";
            position: absolute;
            left: auto;
            right: 0;
            width: 0;
            background-color: #1C62CD;
            height: 3px;
            bottom: -2px;
            transition: all 1s;
        }
    }
}
.menu__categories-link:hover {
    color: #000;
    &::before {
        left: 0;
        width: 100%;
        right: auto;
    }
}
//end header bottom

//start banner-section

.banner-section {
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__slider {
        max-width: 870px;
    }
    &__slider-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent;
        border: none;
        outline: none;
        margin: 0;
        padding: 0;
        z-index: 5;
        cursor: pointer;
    }
    &__slider-btnprev {
        left: 20px;
    }
    &__slider-btnnext {
        right: 20px;
    }
    &__slider-img {
        object-fit: contain;
        min-height: 400px;
    }
}
.slick-dots {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    text-align: center;
}
.slick-dots li {
    display: inline-block;
    padding: 0 5px;
}
.slick-dots button {
    padding: 0;
    font-size: 0;
    margin: 0;
    width: 11px;
    height: 11px;
    border: 1px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    background-color: transparent;
}
.slick-active button {
    background-color: #fff
}

.sale-item {
    max-width: 265px;
    text-align: center;
    border: 1px solid #CDCDCD;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__info {
        color: #fff;
        background-color: $blue;
        padding: 8px 20px;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.1em;
    }
    &__price {
        @include B-Bold;
        text-align: right;
    }
    &__new {
        font-size: 27px;
        line-height: 32px;
        color: $blue;
        margin-right: 6px;
        padding-right: 20px;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            background-image: url('../images/icons-price.svg');
            right: 0;
            width: 15px;
            height: 18px;
            top: 7px;
        }
    }
    &__old {
        @include B-Regular;
        font-size: 14px;
        line-height: 17px;
        color: #C4C4C4;
        margin-right: 15px;
        position: relative;
        background-image: url('../images/old-line.svg');
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0 5px;
        display: inline-block;
        &::after {
            content: '';
            position: absolute;
            background-image: url('../images/icons-price-old.svg');
            right: -10px;
            width: 8px;
            height: 10px;
            top: 4px;
        }
    }
    &__title {
        font-size: 18px;
        line-height: 21px;
        @include SF-Bold;
        margin-bottom: 7px;
    }
    &__footer {
        background-color: #F0F0F4;
        padding: 25px 20px;
        font-size: 18px;
        line-height: 21px;
        @include B-Regular;
        span {
            color: $blue;
            @include B-Bold;
            display: block;
        }
    }
    &__img {
        object-fit: contain;
    }
}

//end banner-section

//start search

.search__tabs {
    margin-bottom: 25px;
    &-item {
        padding: 11px 26px 12px;
        &--active {
            border-radius: 5px;
            background-color: #F0F0F4;
            @include SF-Bold;
        }
    }
}
.search__content {
    &-item {
        display: none;
        &--active {
            display: block;
        }
    }
    &-form {
        display: flex;
    }
    &-input {
        width: 100%;
        background-color: $grey;
        border-radius: 3px;
        padding: 5px 20px;
        border: none;
        font-size: 16px;
        line-height: 19px;
        outline: none;
        &::placeholder {
            color: #656464;
        }
    }
    &-btn {
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        @include SF-Bold;
        padding: 17px 41px;
        background-color: $blue;
        border-radius: 3px;
        cursor: pointer;
        border: none;
        color: #fff;
        letter-spacing: 0.12em;
        margin-left: -3px;
    }
}

//end search
@import 'media';